# python json
<pre>
* load() <b>loads()</b> : 글자-->dic
* dump() <b>dumps()</b> : dic -->글자

In [3]:
import numpy as np
import pandas as pd
import json


#-------------------- 주피터 , 출력결과 넓이 늘리기 ---------------
# from IPython.core.display import display, HTML
from IPython.display import display, HTML

display(HTML("<style>.container{width:100% !important;}</style>"))
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('max_colwidth', None)

import warnings
warnings.filterwarnings(action='ignore')

<font color=red size=3><b> json.loads() 사용시 :  반드시 더블쿼트 dic 데이터 사용

In [5]:
dic_str = """[  {"userid":"kim", "userpw":1111}, 
                {"userid":"lee", "userpw":2222}
             ]"""
print(dic_str , type(dic_str))

list_dic = json.loads(dic_str)
print(list_dic, type(list_dic))
print("비번:", list_dic[1]["userpw"])

[  {"userid":"kim", "userpw":1111},
                {"userid":"lee", "userpw":2222}
             ] <class 'str'>
[{'userid': 'kim', 'userpw': 1111}, {'userid': 'lee', 'userpw': 2222}] <class 'list'>
비번: 2222

In [3]:
list_dic = [{'userid': 'kim', 'userpw': 1111}, 
            {'userid': 'lee', 'userpw': 2222}
           ]
print(list_dic, type(list_dic))

list_dic_string = json.dumps(list_dic)
print(list_dic_string, type(list_dic_string))

[{'userid': 'kim', 'userpw': 1111}, {'userid': 'lee', 'userpw': 2222}] <class 'list'>
[{"userid": "kim", "userpw": 1111}, {"userid": "lee", "userpw": 2222}] <class 'str'>

# DataFrame : list + dict(JSON)
* dict에 사용된 키 값이 dataframe의 컬럼명이 된다

In [4]:
listdic = [ {"uid":"kim" , "upw": 111} ,
            {"uid":"hong", "upw": 222}   
          ]
df = pd.DataFrame(listdic, index=["idx77","idx88"])
df

df = pd.DataFrame(listdic)
df.index =["idx77","idx88"]
df

        uid  upw
idx77   kim  111
idx88  hong  222

# Converter(변환)

## DataFrame --> JSON
* <font color=red><b>df.to_json()</b></font> : DataFrame --> JSON 문법을 갖는 글자

In [5]:
df_json_str =  df.to_json()
print( type(df_json_str), df_json_str )

df_json_str_dic = json.loads(  df_json_str  )
print( type(df_json_str_dic), df_json_str_dic )

<class 'str'> {"uid":{"idx77":"kim","idx88":"hong"},"upw":{"idx77":111,"idx88":222}}
<class 'dict'> {'uid': {'idx77': 'kim', 'idx88': 'hong'}, 'upw': {'idx77': 111, 'idx88': 222}}

## <font color=red><b>df.to_json(orient="___")</b></font>
    * orient='records'    //인덱스 무시
    * orient='columns'    //인덱스 가져감  default값
    * orient='index'      //인덱스 가져감

### orient='records'

In [6]:
df.to_json(orient="records")

'[{"uid":"kim","upw":111},{"uid":"hong","upw":222}]'

In [7]:
pd.DataFrame( [{"uid":"kim","upw":111},{"uid":"hong","upw":222}] )

    uid  upw
0   kim  111
1  hong  222

### orient='columns'

In [8]:
df.to_json(orient="columns")

'{"uid":{"idx77":"kim","idx88":"hong"},"upw":{"idx77":111,"idx88":222}}'

In [9]:
pd.DataFrame({"uid":{"idx77":"kim","idx88":"hong"},"upw":{"idx77":111,"idx88":222}})

        uid  upw
idx77   kim  111
idx88  hong  222

### orient='index'

In [10]:
df.to_json(orient="index")

'{"idx77":{"uid":"kim","upw":111},"idx88":{"uid":"hong","upw":222}}'

In [11]:
pd.DataFrame( {"idx77":{"uid":"kim","upw":111},"idx88":{"uid":"hong","upw":222}} )

    idx77 idx88
uid   kim  hong
upw   111   222

### 파일 쓰기 
* 파일 쓰기 기능도 가지고 있다.

In [ ]:
df.to_json("./dataframe_json.json", orient="records")

#--------------------------------------------------------
# to_json(파일명) 사용 시 자동으로 파일에 기록
#--------------------------------------------------------

## JSON --> DataFrame

In [12]:
dic = [{"uid":"kim","upw":111},{"uid":"hong","upw":222}]
pd.DataFrame(dic)

    uid  upw
0   kim  111
1  hong  222

## JSON 파일에 쓰기

* JSON 데이터를 파일에 쓰기

In [13]:
df.to_json("./dataframe_json2.json", orient="records")

#--------------------------------------------------------
# to_json(파일명) 사용 시 자동으로 파일에 기록
#--------------------------------------------------------
# data = df.to_json(orient="records")
# with open("./lec15_data.json", "w") as f:
#     f.write(data)

* JSON 데이터 파일을 읽어오기
* <font color=red size=4><b>pd.read_XXX("파일명"): 읽기</b></font>
* <font color=red size=4><b>df.to_XXXX("파일명") : 쓰기</b></font>
    * df = pd.read_csv("aa.csv")
    * df = pd.read_sql("select * from emp", conn)
    * df = pd.read_json("aa.json")
    * df = gpd.read_file("geojson.json")

In [14]:
pd.read_json("./dataframe_json2.json")

    uid  upw
0   kim  111
1  hong  222