# if

<pre>if 조건식 :
    실행1
elif 조건식 :   
    실행1       
else :
    실행2

In [7]:
# 90이상이면 A   80이상이면 B    아니면 C
score = int(input('0~100 점수를 입력하세요'))
if score>=90 :
    print("A")
elif score>=80 :
    print("B")
else :
    print("C")

0~100 점수를 입력하세요 80

B

In [10]:
# 90이상이면서 성별이 남성이면 1 여성이면 2
# 80이상이면서 성별이 남성이면 11 여성이면 22
# 아니면 0
score = int(input('0~100 점수를 입력하세요'))
gen = input("성별 : ('남'/'여')")

if   score>=90 and gen == "남":
    print("1")
elif score>=90 and gen == "여":
    print("2")
elif score>=80 and gen == "남":
    print("11")
elif score>=80 and gen == "여":
    print("22")
else:
    print("0")

0~100 점수를 입력하세요 50
성별 : ('남'/'여') 여

0

---

# 반복문

<pre>for 조건식 :
    반복실행문

while(조건식) :
    반복실행문

### range()

- range(시작번호 이상, 끝번호 미만, 증감분기본값1)

In [12]:
print(  list(range(1, 6))    )
print(  list(range(1, 11, 2))    )
print(  list(range(10, 0, -1))    )  #10 9 8 7 ...3 2 1  0

[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
#  for문 range이용 1~10까지 출력
for n in range(1,11) :     
    print(n, end="\t")

1	2	3	4	5	6	7	8	9	10

---

## for문

<pre>for 조건식 :
    반복실행문

while(조건식) :
    반복실행문
    
-----(없음)-------
do : 
    반복실행문
while(조건식)

In [11]:
emp = [7788, 7799, 7800]
for empno in emp:
    print(empno)

# empno = emp[0]
# empno = emp[1]
# empno = emp[2]

7788
7799
7800

In [15]:
#  중첩 for문 
for n in range(100, 600, 100) :
    print(n) #100,200,300,400
    for s in range(1, 4) :
        print(s, end="\t")
    print()

100
1	2	3
200
1	2	3
300
1	2	3
400
1	2	3
500
1	2	3

### 구구단

In [16]:
# 구구단
# 2단
# 2 * 1 = 2   2 * 2 = 4 .... 2 * 9 = 18
# 3단
# 3 * 1 = 3   3 * 2 = 6 .... 9 * 9 = 81
dan = 2
gob = 3
print(dan, "*", gob, "=", dan*gob)

for dan in range(2,10):
    print(dan, "단")
    for gob in range(1, 10):
        print(dan, "*", gob, "=", dan*gob, end="\t")
    print()

2 * 3 = 6
2 단
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 단
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 단
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 단
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 단
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 단
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 단
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 단
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [17]:
# 구구단
# 9단 ~ 3단  *9 *8 *7 *6 *5
for dan in range(9, 2, -2):
    print(dan, "단")
    for gob in range(9, 4, -1):
        print(dan, "*", gob, "=", dan*gob, end="\t")
    print()

9 단
9 * 9 = 81	9 * 8 = 72	9 * 7 = 63	9 * 6 = 54	9 * 5 = 45
7 단
7 * 9 = 63	7 * 8 = 56	7 * 7 = 49	7 * 6 = 42	7 * 5 = 35
5 단
5 * 9 = 45	5 * 8 = 40	5 * 7 = 35	5 * 6 = 30	5 * 5 = 25
3 단
3 * 9 = 27	3 * 8 = 24	3 * 7 = 21	3 * 6 = 18	3 * 5 = 15

### 별찍기

In [19]:
#   *
#  ***
# *****
# for n in range(3):
#     for space in range(2-n):
#         print(' ', end='')
#     for star in range(1+n*2):
#         print('*', end='')
#     print()
#
for i in range(3):
    print(' ' * (2-i), end='')
    print((i * 2 + 1) * '*')

  *
 ***
*****

In [20]:
# ****
#  ***
#   **
#    *
for j in range(1, 5) :
    for k in range(1, 5) :
        # if j=1  k=1 2 3 4
        if j <= k :
            print("*", end="")
        else:
            print(" ", end="")
    print()

****
 ***
  **
   *

In [30]:
#    *
#   **
#  ***
# ****
for j in range(1, 6) :
    for k in range(4, 0, -1) :
        # if j=1  k=1 2 3 4
        if j <= k :
            print(" ", end="")
        else:
            print("*", end="")
    print()

   *
  **
 ***
****

## while문

<pre>while(조건식) :
    반복실행문

In [35]:
num = 5
while(num <10) :
    print("그렇다", num)
    num += 1

그렇다 5
그렇다 6
그렇다 7
그렇다 8
그렇다 9

In [37]:
# 구구단
# 2단
# 2 * 1 = 2   2 * 2 = 4 .... 2 * 9 = 18
# 3단
# 3 * 1 = 3   3 * 2 = 6 .... 9 * 9 = 81

dan = 2
while(dan < 10) :
    print(dan, "단")
    gob = 1
    while (gob < 10):
        print(dan , "*", gob, "=", dan*gob, end="\t")
        gob += 1
    dan += 1
    print()

2 단
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 단
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 단
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 단
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 단
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 단
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 단
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 단
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81